<launch>
  <node pkg="tf" type="static_transform_publisher" name="basefootprint_to_baselink"
        args="0 0 0 0 0 0 base_footprint base_link 100" />

  <node pkg="map_server" type="map_server" name="map_server" args="$(find webots_amcl)/maps/test1.yaml" />

  <!-- <include file="$(find webots_amcl)/launch/amcl_diff.launch" /> -->

  <node pkg="move_base"
      type="move_base"
      name="move_base"
      output="screen"
      clear_params="true"
      launch-prefix="bash -c 'sleep 2; $0 $@' ">
    <param name="controller_frequency" value="5.0" />
    <param name="planner_frequency" value="1.0" />
    <param name="controller_patience" value="5.0" />
    <param name="planner_patience" value="5.0" />
    <param name="oscillation_timeout" value="10.0" />
    <param name="oscillation_distance" value="0.2" />

    <rosparam file="$(find webots_amcl)/config/costmap_common.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find webots_amcl)/config/costmap_common.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find webots_amcl)/config/global_costmap.yaml" command="load" />
    <rosparam file="$(find webots_amcl)/config/local_costmap.yaml" command="load" />
    <rosparam file="$(find webots_amcl)/config/base_local_planner_params.yaml" command="load" />
  </node>

  <arg name="rviz_config" default="/home/sj/Desktop/project/rviz/test1.rviz" />

    <node name="rviz" pkg="rviz" type="rviz" 
          args="-d $(arg rviz_config)" 
          launch-prefix="bash -c 'sleep 2; $0 $@' " />
</launch>